name: Automated Release

on:
  workflow_dispatch:
  schedule:
    - cron: "17 12 1 * *" # At 12:17 on day-of-month 1 (avoid top-of-hour load)

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    # Check if the event is not triggered by a fork
    if: ${{ github.repository == 'p4lang/p4c' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          # Fetch all history for all branches and tags
          fetch-depth: 0

      - name: Increment version number
        run: perl -i -pe 's/\b(\d+)(?=\D*$)/$1+1/e' Version.txt

      - name: Get changelog
        id: changelog
        run: |
          TAG="$(git describe --tags --abbrev=0)"
          GIT_LOG="$(git log $TAG..HEAD --oneline --pretty=format:"- %s [%an]")"
          CHANGELOG=$(cat << EOF
          Changelog:
          $GIT_LOG
          EOF
          )
          CHANGELOG="${CHANGELOG//'#'/''}"
          echo "content<<EOF" >> "$GITHUB_OUTPUT"
          echo "$CHANGELOG" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Display changelog
        run: |
          cat <<'EOF'
          ${{ steps.changelog.outputs.content }}
          EOF

      - name: Get version
        run: |
          VERSION="$(cat Version.txt)"
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Get commit message
        id: message
        run: |
          COMMIT_MSG=$(cat << 'EOF'
          Release v${{ env.VERSION }}
          Signed-off-by: rst0git <9142901+rst0git@users.noreply.github.com>

          ${{ steps.changelog.outputs.content }}
          EOF
          )
          echo "content<<EOF" >> "$GITHUB_OUTPUT"
          echo "$COMMIT_MSG" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Get pull request body message
        id: body
        run: |
          MSG=$(cat << 'EOF'
          Auto-generated pull request for version ${{ env.VERSION }}.

          Please use **Squash and merge** to include the changelog in the release message.

          ${{ steps.changelog.outputs.content }}
          EOF
          )
          echo "content<<EOF" >> "$GITHUB_OUTPUT"
          echo "$MSG" >> "$GITHUB_OUTPUT"
          echo "EOF" >> "$GITHUB_OUTPUT"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          base: main
          add-paths: Version.txt
          reviewers: fruffy, jafingerhut, jnfoster
          commit-message: ${{ steps.message.outputs.content }}
          signoff: false
          branch: v${{ env.VERSION }}
          delete-branch: true
          title: Automated Release v${{ env.VERSION }}
          body: ${{ steps.body.outputs.content }}
